image:
  repository: tribes/spodial_hr_frontend
  pullPolicy: IfNotPresent
  registry: registry.fabit.ru
  tag: ""
  credentials:
    username: username
    password: password

envs:
  apiUrl: ""

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

service:
  type: ClusterIP
  port: 80

resources: {}
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi
