@import "tailwindcss";

@layer base {
  :root {
    --color-primary: #4fb268;
    --color-dark: #0a421e;
    --color-white: #ffffff;

    --bg-gradient-primary: linear-gradient(126deg, #f5fff3 24.45%, #ccecd8 90.22%);

    --bg-primary: #4FB268;
    --bg-layout: #f5fff7;
    --bg-scheduled: #e0fad8;

    --text-primary: #344137;
    --text-secondary: #818f85;
    --text-tertiary: #b8c2bb;
    --text-placeholder: #acb5af;

    --border-primary: #d3ded6;
    --border-table: rgba(79, 178, 104, 0.25);
    --border-secondary: #D3DED6;

    --bg-hover: rgba(10, 66, 30, 0.16);
    --bg-hover-light: rgba(10, 66, 30, 0.04);
    --bg-selected: rgba(79, 178, 104, 0.17);
    --bg-completed: rgba(79, 178, 104, 0.70);
  }
}

@layer utilities {
  /* Основные цвета */
  .bg-primary { background-color: var(--bg-primary); }
  .bg-layout { background-color: var(--bg-layout); }
  .bg-scheduled { background-color: var(--bg-scheduled); }
  .bg-gradient-primary { background: var(--bg-gradient-primary); }

  .text-accent { color: var(--color-primary); }
  .text-primary { color: var(--text-primary); }
  .text-secondary { color: var(--text-secondary); }
  .text-tertiary { color: var(--text-tertiary); }
  .text-placeholder { color: var(--text-placeholder); }

  .border-table { border: 1px solid var(--border-table); }
  .border-primary { border: 1px solid var(--border-primary); }
  .border-layout { border: 1px solid var(--border-primary); }
  .border-secondary  { border: 1px solid var(--border-secondary); }

  .hover\:bg-hover-light:hover { background-color: var(--bg-hover-light); }
  .hover\:bg-hover:hover { background-color: var(--bg-hover); }
  .bg-selected { background-color: var(--bg-selected); }
  .bg-completed { background-color: var(--bg-completed); }

  .border-b-table {
    border-bottom: 1px solid var(--border-table);
  }

  /* Тени и эффекты из твоего дизайна */
  .shadow-primary {
    box-shadow: 15px 13px 21.6px 0 rgba(10, 66, 30, 0.04);
  }
}

/* Шрифт */
body {
  font-family: Inter, system-ui, sans-serif;
}

html, body, #__next {
  height: 100%;
}